.anexo2{
    border-color: #AE3E97;
    border-left-width: 12px;
}

.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.usuarioperador{
    border-color: #FF8403;
    border-left-width: 12px;
}

.ley{
    font-size: 10px;
}

.tituloanexo{
    font-size: 11px;
}
/* anexo2pagina7.css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttonBack {
    margin: 0 auto;
    background: #AE3E97;
    width: 50%;
    height: 30px;
    border-radius: 15px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
  }
  
.bg-white {
    background-color: white;
}

.rounded-lg {
    border-radius: 10px; /* Puedes ajustar según tus necesidades */
}

.shadow-md {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.max-w-md {
    max-width: 100%;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.w-full {
    width: 100%;
}

.text-center {
    text-align: center;
}


.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-black {
    color: black;
}

.container{
    margin: auto auto;

}

/* Estilos para versión desktop */
@media screen and (min-width: 900px) {
    .w-full {
        width: 40%;
    }
    .buttonBack {
        width: 30%;
      }
      
}
