
.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.usuarioperador{
    border-color: #FF8403;
    border-left-width: 12px;
}

.ley{
    font-size: 10px;
}

.tituloanexo{
    font-size: 11px;
}

.contenedor {
    margin: auto auto;
    display: flex;
    border-left: 15px solid #AE3E97; /* Borde izquierdo morado */

  /*   align-items: center;
   */  justify-content: center;
}

.white-container {
    background-color: white;
    border-radius: 30px;
    padding: 24px;
    max-width: 380px;
    margin: 0 5px;
    width: 100%;
  }

  @media screen and (min-width: 900px) {
    .contenedor {
        height: auto;
        width: 30%;
    }

  }