.icono {
  display: none;
}

.icono1 {
  display: none;
}

.iconHome{
  display: none;
}
.iconoHome1 {
  display: block;
  color: #3366CC;
  cursor: pointer;
  padding-left: 40%;

}

.iconoHome2 {
  display: block;
  color: #3366CC;
  cursor: pointer;
  padding-left: 70%;
}

.cicleinfo{
  color: #FF8403;
  align-items: center;
  width: 50px;
}

.Home{
  display: none;
}

.plus{
  margin-top: 5%;
  color: #00AEEF;
  width: 50px;
}

.file{
display: flex;
justify-content: right;

  width: 30px;
}

.eye{
  color: #00AEEF;
  width: 30px;
}
.white-containerOptionsHomeOut {
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  margin: auto 0 0 0;
  width: 50px;
  display: flex;
  justify-content: space-between;

}

@media screen and (min-width: 900px) {

  .white-containerOptionsUser {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto 0 0 0;
    width: 200px;

    display: flex;

  }


  .containerOptionsUserHomeOut {
    display: none;
  }

  .containerOptionsUser {
    min-height: 100px;
    display: flex;
    margin: 0 80px;
    width: 100px;
    justify-content: right;
    align-self: flex-end;
  }

  .white-containerOptionsUserLeft {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto 0 0 0;
    width: 100px;
    display: flex;

  }


  .containerOptionsUserLeft {
    min-height: 100px;
    display: flex;
    margin: 0 80px;
    width: 20%;
    justify-content: left;
    align-self: flex-start;
  }

  .icono {
    display: block;
    color: #3366CC;
    cursor: pointer;

  }

  .icono1 {
    display: block;
    color: #3366CC;
    width: 25px;
  }
  .Home{
    display: block;
    color: #3366CC;
    width: 30px;
  }
  .idioma {
    margin-right: 5px;
  }

  .chevrondown {
    margin-left: 5px;
  }

}