.icono {
  display: none;
}

.icono1 {
  display: none;
}

.cicleinfo{
  color: #FF8403;
  align-items: center;
  width: 50px;
}

.Home{
  color: #3366CC;
  width: 30px;
}

.plus{
  margin-top: 5%;
  color: #00AEEF;
  width: 50px;

}
@media screen and (min-width: 900px) {

  .white-containerOptionsUser {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto 0 0 0;
    width: 40%;
    display: flex;

  }
  .white-containerOptionsHomeOut {
    background-color: transparent;
    border-radius: 20px;
    padding: 15px;
    margin: auto 0 0 0;
    width: 40%;
    display: flex;

  }

  .containerOptionsUser {
    display: none;
  }

  .white-containerOptionsUserLeft {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto 0 0 0;
    width: 30%;
    display: flex;

  }


  .containerOptionsUserLeft {
    min-height: 100px;
    display: flex;
    margin: 0 80px;
    width: 20%;
    justify-content: left;
    align-self: flex-start;
  }

  .icono {
    display: block;
    color: #3366CC;
  }

  .icono1 {
    display: block;
    color: #3366CC;
    width: 25px;
  }
  .Home{
    display: none;

  }
  .idioma {
    margin-right: 5px;
  }

  .chevrondown {
    margin-left: 5px;
  }

}