.boxContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; /* Ajusta según tus necesidades */
  height: 400px; /* Ajusta según tus necesidades */
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  border-left: 15px solid #FF8403;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); /* Ajusta según tus necesidades */
  margin: auto auto; /* La propiedad "auto" se aplica automáticamente a ambos lados, ajusta según sea necesario */
  padding-top: 2px; /* Ajusta según tus necesidades */
  padding-right: 4px; /* Ajusta según tus necesidades */
  padding-bottom: 3px; /* Ajusta según tus necesidades */
  padding-left: 4px; /* Ajusta según tus necesidades */
}

.boxContainer1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 80vh;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  border-left: 15px solid #FF8403;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.boxContainer2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 80vh;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  border-left: 15px solid #AE3E97;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.bloqueInstruccion{
  color: #000;
  padding: 3% 6%;
  text-align: justify;
  font-size: 14px;
}
.text {
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 12; /* Ajusta según tus necesidades */
  font-weight: bold;
}



.buttonConfirmar {
  width: 89px; /* Ajusta según tus necesidades */
  height: 49px; /* Ajusta según tus necesidades */
  text-align: center;
  background: #00AEEF;
  border-radius: 28px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: auto;
}

@media screen and (min-width: 900px){
  .boxContainer {
    width: 500px; /* Ajusta según tus necesidades */
    height: 400px; /* Ajusta según tus necesidades */

  }
  .text {
    line-height: 10; /* Ajusta según tus necesidades */

  }
  .boxContainer1 {
    width: 60%;
    max-height: 98vh;
    overflow: auto;
    border-left: 30px solid #FF8403;
  }
  
  .boxContainer2 {
    width: 60%;
    max-height: 98vh;
    overflow: auto;
    border-left: 30px solid #AE3E97;

  }
}
