.contenedor {
  width: 90%;
  display: flex;
  /* Establece un contenedor flex */
  align-items: center;
  /* Centra los elementos verticalmente */
  border-left: 8px solid #FF8403;
  /* Borde izquierdo morado */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  /* Asegura que los hijos no sobresalgan de los bordes redondeados */
  margin: auto 0;
  /* Esto añadirá el margen automáticamente en la parte superior e inferior */
}

.columnas {
  display: flex;
  /* Esto define la disposición en fila */
  justify-content: space-between;
  /* Espacio entre las columnas */
  align-items: center;
  /* Alineación vertical */
  width: 100%;
  /* Ocupa todo el ancho del contenedor padre */
}

.columnFirst{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.columnSecond{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.columnSecond p{
  padding-right: 19px;
  width: 47%;
}

.columna-texto {
  display: flex;
  justify-content: center;
  padding: 30px 15px 15px 15px;
  /* Alinea el texto a la izquierda */
}

.columna-imagen {
  flex: 0.5;
  /* Permite que la imagen ocupe el espacio necesario */
  padding: 10px;
  display: flex;
  /* Establece un contenedor flex */
  justify-content: center;
  /* Centra la imagen horizontalmente */
}

.columna-imagen img {
  max-width: 100%;
  /* La imagen se escala dentro de su columna */
  height: auto;
}


main {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  min-height: 100vh;
  /* Usa al menos el 100% de la altura de la ventana del navegador */
  flex-direction: column;
  /* Organiza el contenido en una columna */
}

.tituloanexo {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

.columna-texto p {
  font-weight: bold;
  /* Hace que el texto sea negrita */
  font-size: 12px;
}

.bloque {
  width: 100%;
  padding: 0 19px;
  color: #000;
}

.bloque1 {
  width: 100%;
  padding: 0 19px;
  color: #000;
}

.bloque2 {
  width: 100%;
  padding-right: 19px;
  text-align: left;
}

.bloque3 {
  width: 100%;
  padding-left: 19px;
  text-align: left;
}

.input-ochenta {
  width: 80%;
  /* Establece el ancho del input al 80% del contenedor padre */
  padding: 3px;
  /* Puedes ajustar el padding según sea necesario */
  height: 40px;
  border-radius: 9999px;
  /* Para bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave para el input */
  border: 1px solid #ccc;
  /* Borde del input */
  text-align: left;
  /* Alineación del texto dentro del input */
  display: block;
  /* Asegura que el input sea un bloque para aplicar el ancho */
  margin: 0 auto;
  /* Centra el input dentro del contenedor si es necesario */
}

.btn-sesenta {
  width: 60%;
  /* Establece el ancho del botón al 60% del contenedor padre */
  margin: 0 auto;
  /* Centra el botón horizontalmente */
}

.inputForm {
  margin-top: 1rem;
  width: 100%;
  padding: 0.75rem;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #878787;
  color: #000;
  font-size: 12px;
}

.contenedorCasita {
  text-align: right;
  /* Alinea el contenido a la derecha */
  display: flex;
  width: 70%;
  padding-top: 20px;
  /* Otros estilos que puedas necesitar */
  align-items: center;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    /* Las columnas se apilan verticalmente en pantallas pequeñas */
  }
}

@media (min-width: 900px) {
  .contenedor {
    flex-direction: column;
    width: 60%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 30px solid #FF8403;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto 0 10% 0;
  }
  .columnSecond p{
    padding-right: 10%;
    width: 25%;
  }
  .btnNext {
    margin-top: 20px;
  }
  .columnFirst{
    display: flex;
    justify-content: center;
    width: 100%;
  
  }
  .tituloanexo {
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  .bloque {
    width: 100%;
    padding: 0 10%;
    text-align: left;
  }

  .bloque2 {
    width: 100%;
    padding-right: 10%;
    text-align: left;
  }

  .bloque3 {
    width: 100%;
    padding-left: 10%;
    text-align: left;
  }

  .bloque1 {
    width: 100%;
    padding: 0 10%;
    text-align: left;
  }

  .columna-texto {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 30px 10% 10px 10%;
  }

  .iconos {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}