.anexo2{
    border-color: #AE3E97;
    border-left-width: 12px;
}

.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.anexo3{
    border-color: #00904C;
    border-left-width: 12px;
}

.usuarioperador{
    border-color: #FF8403;
    border-left-width: 12px;
}

.ley{
    font-size: 10px;
}

.tituloanexo{
    font-size: 11px;
}

.min-h-screen {
    min-height: 100vh;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  /* Contenedor principal */
  .bg-white {
    background-color: #fff;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .max-w-md {
    max-width: 28rem;
  }
  
  .mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  
  .w-full {
    width: 100%;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .border-l-12 {
    border-left-width: 0.75rem;
  }
  
  /* Encabezado del formulario */
  .font-bold {
    font-weight: 700;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .tituloanexo {
    font-size: 1.25rem;
  }
  
  .text-black {
    color: #000;
  }
  
  /* Formulario */
  .p-3 {
    padding: 0.75rem;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .border {
    border-width: 1px;
  }
  
  .text-red-500 {
    color: #ef4444;
  }
  
  /* Selector */
  .grid {
    display: grid;
  }
  
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  /* Mapa */
  #google-map {
    width: 100%;
    height: 400px;
  }
  
  /* Botón */
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  
  .bg-custom-azul {
    background-color: #2563eb;
  }
  
  .text-white {
    color: #fff;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .element{
    width: 100%;
}

  @media screen and (min-width: 768px) {
    .container-father{
        width: 700px;
    }
    .max-w-md{
        max-width: 50rem;
    }
    .anexo2{
        border-color: #AE3E97;
        border-left-width: 40px;
    }
    .p-8 {
        padding: 0.7rem;
      }

    .element{
        width: 100%;
    }
    .title{
        padding-top: 10px;
    }
  }