.contenedor {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* Establece un contenedor flex */
  align-items: center;
  /* Centra los elementos verticalmente */
  border-left: 8px solid #FF8403;
  /* Borde izquierdo morado */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Asegura que los hijos no sobresalgan de los bordes redondeados */
  margin: auto 0;
  /* Esto añadirá el margen automáticamente en la parte superior e inferior */
  margin-top: 10%;
  margin-bottom: 20%;
}

.columnas {
  display: flex; /* Esto define la disposición en fila */
  justify-content: space-between; /* Espacio entre las columnas */
  align-items: center; /* Alineación vertical */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
}


.columna-texto {
    flex: 1; /* Permite que el texto ocupe el espacio necesario */
    padding: 15px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.columna-imagen {
    flex: 0.5; /* Permite que la imagen ocupe el espacio necesario */
    padding: 10px;
    display: flex; /* Establece un contenedor flex */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.columna-imagen img {
    max-width: 100%; /* La imagen se escala dentro de su columna */
    height: auto;
}



main {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Usa al menos el 100% de la altura de la ventana del navegador */
  flex-direction: column; /* Organiza el contenido en una columna */
}

.columna-texto h2 {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-size: 14px;
}

.columna-texto p {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-size: 12px;
}

.bloque {
  width: 100%;
  padding: 0 19px;
  color: #000;
}
.bloque1 {
  width: 100%;
  padding: 2% 5%;
  text-align: left;
  color: #000;
  font-weight: bold;
}

.bloqueFirma {
  width: 60%;
  padding: 0 19px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

strong{
  padding-right: 5%;

}
.input-ochenta {
  width: 80%; /* Establece el ancho del input al 80% del contenedor padre */
  padding: 3px; /* Puedes ajustar el padding según sea necesario */
  height:40px;
  border-radius: 9999px; /* Para bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el input */
  border: 1px solid #ccc; /* Borde del input */
  text-align: left; /* Alineación del texto dentro del input */
  display: block; /* Asegura que el input sea un bloque para aplicar el ancho */
  margin: 0 auto; /* Centra el input dentro del contenedor si es necesario */
}
.textRed {
  color: red;
  font-size: 12px;
}
.btn-sesenta {
  width: 60%; /* Establece el ancho del botón al 60% del contenedor padre */
  margin: 0 7%;
}

.btn-sesenta1 {
  width: 35%; /* Establece el ancho del botón al 60% del contenedor padre */
  margin: 0 auto; /* Centra el botón horizontalmente */
}
.contenedorCasita {
  text-align: right;
  display: flex;
  width: 70%;
  align-items: center;
  margin-left: auto;
  margin-right: 7%;
}


.fila-container {
    display: flex; /* Habilita Flexbox */
  }
  
  .columna {
    flex: 1; /* Esto hace que cada columna ocupe la mitad del espacio disponible */
    /* Añade estilos adicionales como padding, margin, etc., según sea necesario */
  }
  
  .rutavital{
    background-color: red;
  }

  .inputData {
    margin-top: 1rem;
    width: 100%;
    padding: 0.75rem;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #878787;
    color: #000;
    font-size: 12px;
  }

  /* Estilos para pantallas más pequeñas */

  @media screen and (min-width: 900px) {
    .contenedor {
      flex-direction: column;
      width: 60%;
      height: 800px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 30px solid #FF8403;
      border-radius: 15px;
      overflow: hidden;
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: auto 0 4% 0;
    }
    .bloque {
      width: 100%;
      padding: 0 10%;
      text-align: left;
    }

    .btn-sesenta1 {
      width: 35%; /* Establece el ancho del botón al 60% del contenedor padre */
      margin: 0 auto; /* Centra el botón horizontalmente */
    }
    .bloque1 {
      width: 100%;
      padding: 0 10%;
      text-align: left;
      color: #000;
      font-weight: bold;
    }
    .columna {
      display: flex;
      justify-content: space-between;
      padding: 0px 8px;
    }
    .columna1 {
      display: flex;
      justify-content: space-between;
    }
    .fila-container {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 10%;
      /* Habilita Flexbox */
    }
    
    .inputData {
      width: 95%;
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .btnNext {
      margin-top: 20px;
    }
  
    .iconos {
      align-items: center;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .contenedorCasita {
      text-align: right;
      /* Alinea el contenido a la derecha */
      display: flex;
      width: 70%;
      padding-top: 20px;
      /* Otros estilos que puedas necesitar */
      align-items: center;
      margin: 0 auto;
      justify-content: center;

    }
  }