  .contenedor {
    width: 90%;
    display: flex; /* Establece un contenedor flex */
    flex-direction: column;
    align-items: center; /* Centra los elementos verticalmente */
    border-left: 8px solid #AE3E97; /* Borde izquierdo morado */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Asegura que los hijos no sobresalgan de los bordes redondeados */
    margin: auto 0; /* Esto añadirá el margen automáticamente en la parte superior e inferior */
}

.columnas {
  display: flex; /* Esto define la disposición en fila */
  justify-content: space-between; /* Espacio entre las columnas */
  align-items: center; /* Alineación vertical */
  width: 100%; /* Ocupa todo el ancho del contenedor padre */
}


.columna-texto {
    flex: 1; /* Permite que el texto ocupe el espacio necesario */
    padding: 15px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.columna-imagen {
    flex: 0.5; /* Permite que la imagen ocupe el espacio necesario */
    padding: 10px;
    display: flex; /* Establece un contenedor flex */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.columna-imagen img {
    max-width: 100%; /* La imagen se escala dentro de su columna */
    height: auto;
}


main {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Usa al menos el 100% de la altura de la ventana del navegador */
  flex-direction: column; /* Organiza el contenido en una columna */
}

.columna-texto h2 {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-size: 14px;
}

.columna-texto p {
  font-weight: bold; /* Hace que el texto sea negrita */
  font-size: 12px;
}

.bloque{
  width: 100%;
  padding: 10px 8%;
  color: #000;
}

.bloquePersonal{
  width: 100%;
  padding: 14px 8%;
  color: #000;

}

.input-ochenta {
  width: 80%; /* Establece el ancho del input al 80% del contenedor padre */
  padding: 3px; /* Puedes ajustar el padding según sea necesario */
  height:40px;
  border-radius: 9999px; /* Para bordes redondeados */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para el input */
  border: 1px solid #ccc; /* Borde del input */
  text-align: left; /* Alineación del texto dentro del input */
  display: block; /* Asegura que el input sea un bloque para aplicar el ancho */
  margin: 0 auto; /* Centra el input dentro del contenedor si es necesario */
}

.btn-sesenta {
  width: 60%; /* Establece el ancho del botón al 60% del contenedor padre */
  margin: 0 auto; /* Centra el botón horizontalmente */
}

.contenedorCasita {
  text-align: right;
  /* Alinea el contenido a la derecha */
  display: flex;
  width: 70%;
  padding: 15px 0;
  /* Otros estilos que puedas necesitar */
  align-items: center;
}

.element {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #878787;
  color: #000;
}

.titulo-desfibrilador-ext{
  font-weight: 800;
}

.fecha-container {
  display: flex;
  justify-content: space-between;
}

.fecha-columna {
  flex: 1; /* Esto hará que cada columna tenga el mismo ancho */
  padding: 0 10px; /* Añade un poco de espacio entre las columnas */
}

.fecha-select {
  width: 100%; /* El select ocupa todo el ancho de la columna */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  grid-template-rows: auto auto; /* Dos filas que se ajustan al contenido */
  gap: 10px; /* Espacio entre las celdas de la cuadrícula */
}

@media screen and (min-width: 900px) {
  .contenedor {
    width: 40%;
    display: flex;
    /* Establece un contenedor flex */
    align-items: center;
    /* Centra los elementos verticalmente */
    border-left: 30px solid #AE3E97;
    /* Borde izquierdo morado */
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* Asegura que los hijos no sobresalgan de los bordes redondeados */
    margin: auto 0 10% 0;
    /* Esto añadirá el margen automáticamente en la parte superior e inferior */
    flex-direction: column;
  }

  .bloque {
    padding: 1% 10%;
  }

  .bloquePersonal {
    padding: 7% 10% 2% 10%;
  }
  .bloque1 {
    padding: 10% 10% 0 10%;
  }

  .bloquetextCertificado {
    padding: 7% 10% 2% 10%;
  }

  .iconos {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
