.flex-containerOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.containerOptions {
    min-height: 300px;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.white-containerOptions {
    background-color: white;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

    width: 100%;
}

.anexo2 {
    border-color: #AE3E97;
    border-left-width: 12px;
    width: auto;
    height: 100px;
}

.anexo3 {
    border-color: #00904C;
    border-left-width: 12px;
    width: auto;
    height: 100px;

}

.hijo {

    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #F0F3F4;
}

.usuarioperador {
    border-color: #FF8403;
    border-left-width: 12px;
}

@media screen and (min-width: 1000px) {


    .white-containerOptions {
        width: 1300px;
        max-height: auto;
        display: flex;
        margin: auto auto;

    }


    .containerOptions {
        min-height: auto;
        margin: auto 0;


    }


    .anexo2 {
        width: 500px;
        height: 100px;

    }

    .anexo3 {
        width: 500px;
        height: 100px;

    }

    .hijo {
        flex: 1;
        padding: 20px;
        text-align: center;
        margin: auto 20px;
        margin-bottom: 8rem;
        margin-top: 8rem;
        cursor: pointer;
        background-color: #F0F3F4;


    }
}