.contenedor {
    width: 80%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* Acomoda los divs en una columna (verticalmente) */
    align-items: center;
    /* Centra los divs internos horizontalmente */
    margin: auto;
    /* Centra el contenedor en la pantalla */
    border-radius: 10px;
}

.div-interno {
    border-radius: 10px;
    border-left: 5px solid purple;
    /* Borde izquierdo morado */
    width: 100%;
    /* Hace que los divs ocupen todo el ancho del contenedor */
    margin: 10px 0;
    /* Espacio arriba y abajo de cada div interno */
    text-align: center;
    /* Centra el texto dentro de los divs internos */
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Añade una sombra a los divs internos */
    color: #000;
}

/* Estilos específicos para cada div interno */
.div-interno:nth-child(1) {
    border-left: 15px solid #AE3E97;
    /* Borde izquierdo para el primer div */
}

.div-interno:nth-child(2) {
    border-left: 15px solid #FF8403;
    /* Borde izquierdo para el segundo div */
}

.div-interno:nth-child(3) {
    border-left: 15px solid #00904C;
    /* Borde izquierdo para el tercer div */
}

main {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    min-height: 100vh;
    /* Usa al menos el 100% de la altura de la ventana del navegador */
    flex-direction: column;
    /* Organiza el contenido en una columna */
}

@media screen and (min-width: 900px) {
    .contenedor {
        width: 80%;
        height: 600px;
        background-color: white;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        /* Acomoda los divs en una columna (verticalmente) */
        align-items: center;
        /* Centra los divs internos horizontalmente */
        margin: auto 0;
        /* Centra el contenedor en la pantalla */
        border-radius: 10px;
    }

    .div-interno {
        width: 50%;
        height: 220px;
        margin-left: 15px;
        margin-top: 5rem;
        margin-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .iconos {
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .div-interno:nth-child(1):hover {
        border-left: 15px solid #FF8403;
        /* Borde izquierdo para el primer div */
    }

    .div-interno:nth-child(2):hover {
        border-left: 15px solid #00904C  ;
        /* Borde izquierdo para el segundo div */
    }

    .div-interno:nth-child(3):hover {
        border-left: 15px solid #AE3E97;
        /* Borde izquierdo para el tercer div */
    }
}